---
layout: global.njk
---

<header>
  <div class="content-width">
    <h1>{{ title }}</h1>
  </div>
</header>

<div class="content-width">
  <div class="page-content">
    {{ content | safe }}
  </div>
</div>